# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local 